/* Start of navigation bar styles */
nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #ff2bd6;
  text-shadow: 0 0 8px #ff2bd6;
}

/* Logo */
.logo-link {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 220px;
  height: auto;
  max-width: 80%;
  margin: 0 auto;
  object-fit: contain;
}

header{
    text-align: center;
}

body {
  margin: 0;
  min-height: 100vh;
  color: white;
  background:
    linear-gradient(rgba(8, 5, 20, 0.75), rgba(8, 5, 20, 0.9)),
    url("../assets/images/image4.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}